@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

:root {
    --color-primary-100: rgb(146, 119, 255);
    --color-primary-200: rgb(124, 93, 250);
    --color-primary-300: rgb(30, 33, 57);
    --color-primary-400: rgb(37, 41, 69);

    --color-secondary-200: rgb(223, 227, 250);
    --color-secondary-100: rgb(136, 142, 176);
    --color-secondary-300: rgb(126, 136, 195);
    --color-error: rgb(236, 87, 87);
    --color-error-light: rgb(255, 151, 151);
    --color-warning: rgb(255, 143, 1);
    --color-warning-light: hsl(34, 100%, 90%);
    --color-success: rgb(51, 214, 159);
    --color-success-light: hsl(160, 67%, 90%);
    --color-white: rgb(248, 248, 251);
    --color-black-100: hsl(228, 28%, 7%);
    --color-black-200: hsl(233, 30%, 11%);
    --color-grey-300: hsl(232, 20%, 36%);
    --color-grey-200: hsl(231, 20%, 27%);
    --font-family-bold: 'League Spartan';
    --font-family-regular: 'League Spartan';
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;

    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}


body {
    font-size: var(--text-base-size);
    font-family: var(--font-family-regular);
    color: var(--color-black-100);
    background-color: var(--color-white);
    height: 100%
}

h1.text-xxxl {
    font-family: var(--font-family-bold);
    font-weight: 700;
    font-size: var(--text-xxxl);
    color: var(--color-black-100);
}

h2.text-xxl {
    font-family: var(--font-family-bold);
    font-weight: 700;
    font-size: var(--text-xxl);
    color: var(--color-black-100);
}

h3.text-xl {
    font-family: var(--font-family-bold);
    font-weight: 700;
    font-size: var(--text-xl);
    color: var(--color-black-100);
}

h4.text-lg {
    font-family: var(--font-family-bold);
    font-weight: 700;
    font-size: var(--text-lg);
    color: var(--color-black-100);
}


.text-md {
    font-size: var(--text-md);
}

.text-sm {
    font-size: var(--text-sm);
}

.color-secondary-100 {
    color: var(--color-secondary-100);
}

.color-success {
    color: var(--color-success);
}

.color-warning {
    color: var(--color-warning);
}

.color-white {
    color: var(--color-white);
}

.bg-success-light {
    background-color: var(--color-success-light);
}

.bg-warning-light {
    background-color: var(--color-warning-light);
}

.bg-success {
    background-color: var(--color-success);
}

.bg-warning {
    background-color: var(--color-warning);
}

.m-l-10 {
    margin-left: 10px;
}

.display-inline {
    display: inline;
}

.app-grid {
    display: grid;
    grid-template-areas:
        'sidebar header header'
        'sidebar main main'
        'sidebar main main'
        'sidebar main main';
    grid-template-columns: minmax(800px, 1fr) repeat(auto-fill, minmax(min(730px, 100%), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(min(72px, 100%), 1fr));
    align-items: center;
    min-height: 100%;
}

.heading-grid {
    grid-area: header;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(min(730px, 100%), 1fr));
    grid-template-columns: repeat(1, minmax(min(300px, 100%), 1fr)) repeat(auto-fit, minmax(min(150px, 100%), 1fr));
}

.no-invoices,
.invoices-grid {
    grid-area: main;
    display: grid;
    min-height: 100%;
    gap: 50px;
}



.invoice-row {
    display: grid;
    grid-template-columns: 1fr repeat(4, 2fr) 0.5fr;
    grid-auto-flow: column;
    align-content: center;
    min-width: inherit;
    min-height: 75px;
    background-color: var(--color-white);
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 25px;
    justify-items: center;
    min-height: 100%;
}


.no-invoices {
    margin: auto;
}

.button {
    position: relative;
    z-index: -1;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 24px;
    padding: 10px 10px 10px 45px;
    background-color: var(--color-primary-200);
    grid-area: 1/3/2/2;

}

.button-wrapper {
    position: relative;
}

.svg-icon {
    width: 8px;
    height: 4px;
    align-items: flex-end;
}

.check-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 25px;
    border: 5px solid white;
    background: white;
    width: 30px;
    height: 30px;
}

.arrow-down-icon {
    align-self: center;
    margin-top: -15px;
}

.heading-right-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 100%;
    align-items: baseline;
    margin-top: 15px;
}

.filter-dropdown {
    display: flex;
    grid-area: 1/2/2/1;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.status-wrapper {
    display: flex;
    width: 105px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.side-bar-grid {
    display: grid;
    position: fixed;
    z-index: 1;
    grid-template-areas: 'aside-header''aside-body''aside-footer';
    grid-template-rows: repeat(1, minmax(min(25px, 100%), 103px)) repeat(1, minmax(min(600px, 100%), 1fr)) repeat(1, minmax(min(25px, 100%), 103px));
    min-height: 100%;
    height: 700px;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.side-bar-grid .header {
    background: conic-gradient(from 90deg at -20% 50%, #9277ff, #8c70fe, #8264fb, #7c5dfa);
    border-radius: 0px 20px 0px 0px;
    grid-area: 'aside-header';
}

.side-bar-grid .body {
    border-top: 4px solid var(--color-grey-300);
    background-color: var(--color-grey-200);
    grid-area: 'aside-body';
    display: flex;
    align-items: end;
}

.moon-icon {
    margin: 0 auto;
    margin-bottom: 20px;
}

.side-bar-grid .footer {
    place-content: center;
    border-top: 4px solid var(--color-grey-300);
    padding: 20px;
    background-color: var(--color-grey-200);
    grid-area: aside-footer;
    display: flex;
    align-items: end;
}


.avatar {
    height: 40px;
    width: 40px;
    border-radius: 25px;
}

.pacman {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color-white);
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    transform: rotate(-90deg);
}


.pacman_mouth {
    background: conic-gradient(from 90deg at -20% 50%, #9277ff, #8c70fe, #8264fb, #7c5dfa);
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
}